.land-page-girl{
  position: absolute;
  bottom: 0px;
  left: 150px;
}
h1{
  color: aliceblue;
  float: left;
  margin-left: 700px;
  margin-top: 200px;
}
h3{
  color: aliceblue;
  float: right;
  margin-top: 100px;
  margin-right: 240px;
}
.btn-align{
  margin-top: 100px;
  margin-left: 700px;
  margin-bottom: 150px;
}