<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div style="background-color: #2F303A; height: auto; width: auto; overflow: auto;">

  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div>
          <img src="../../../assets/logo.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
          <h4 style="color: aliceblue; float: right; margin-left: 20px; margin-top: 5px;">Soundwave</h4>
        </div>
      </a>

      <div>
        <a style="margin-right: 50px; color: aliceblue; text-decoration: none;" routerLink="/dashboard">Discover</a>
        <a style="margin-right: 100px; color: aliceblue; text-decoration: none;" routerLink="/login">LogIn</a>
      </div>
    </div>
  </nav>

  <div>
    <i class="fas fa-music musicImg1"></i>

    <div>
      <img src="../../../assets/landing-page-girl.png" class="land-page-girl" alt="landing-page-girl" height="600px">
    </div>
    <i class="fas fa-music musicImg2"></i>
    <div>
      <h1 class="join-style" style="float: left;">Feel the &nbsp;</h1>
      <span style="float: left;">
        <h1 class="fun-style"> Music</h1>
      </span>
      <h3>Stream Over 20 Thousand Songs with one click</h3>
    </div>
    <i class="fas fa-music musicImg3"></i>
  </div>

  <button class="btn btn-primary btn-align" routerLink="/register">Join Now</button>

  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">

          <div class="col item social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i
                class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-youtube"></i></a><a href="#"><i
                class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-google"></i></a></div>
        </div>
        <p class="copyright">All Copyrights Reserved © 2021</p>
      </div>
    </footer>
  </div>
</div>