<div style="background-color: #2F303A; height: auto; width: auto; overflow: auto;">

  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div>
          <img src="../../../assets/logo.png" style="margin-left: 50px;" alt="" width="40" height="40"
            class="d-inline-block align-text-top">
          <h4 style="color: aliceblue; float: right; margin-left: 20px; margin-top: 5px;">Soundwave</h4>
        </div>
      </a>

      <div>
        <a style="margin-right: 50px; color: aliceblue;">Discover</a>
        <a style="margin-right: 100px; color: aliceblue;">LogIn</a>
      </div>
    </div>
  </nav>

  <div>
    <div>
      <img src="../../../assets/landing-page-girl.png" class="land-page-girl" alt="landing-page-girl" height="600px">
    </div>
    <div>
      <h1>Feel The Music</h1>
      <h3>Stream Over 20 Thousand Songs with one click</h3>
    </div>
  </div>

  <button class="btn btn-primary btn-align">Join Now</button>
  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            <p class="copyright">BBBootstrap.com © 2021</p>
        </div>
    </footer>
</div>
</div>