<body style="background-color: hsl(210, 36%, 96%);">
    <section class="menu">
      <!-- title -->
      <div class="title">
        <h2>Dashboard</h2>
        <div class="underline"></div>
      </div>
      
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin: 0 auto 8rem auto; ">
        <h3 style="margin: 1.25rem 15rem; ">Trending</h3>
        <div class="carousel-inner" style="border-radius: 2rem;">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/menu-item.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/menu-item.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/menu-item.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      

      <!-- menu items -->
      <h3 style="margin: 1.25rem 15rem; ">New Releases</h3>
      <div class="section-center">
        <!-- single item -->
        <ul>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
        </ul>
      </div>

      <h3 style="margin: 1.25rem 15rem; ">Top Bollywood</h3>
      <div class="section-center">
        <!-- single item -->
        <ul>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
        </ul>
      </div>

      <h3 style="margin: 1.25rem 15rem; ">TOp ENglish</h3>
      <div class="section-center">
        <!-- single item -->
        <ul>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
          <li>
            <article class="menu-item">
              <img src="../../../assets/menu-item.jpeg" class="photo" alt="menu item">
              <div class="item-info">
              </div>
              <!-- <header> -->
                <h4 style="margin:1rem 0;">buttermilk pancakes</h4>
              <!-- </header> -->
            </article>
            <!-- end of single item -->
          </li>
        </ul>
      </div>

    </section>
</body>