<div class="section">
    <div class="section__background">
        <img id="backgroundImage" class="section__background-image"
            [src]="thumbnailPath" alt="">
    </div>
    <div class="music-card__wrapper">
        <div class="music-card">
            <div class="music-card__content">
                <img class="music-image" [src]="thumbnailPath" alt="">
                <div class="music-info">
                    <h2 class="music-name">{{musicName}}</h2>
                    <p class="music-artist">{{artistName}}</p>
                </div>

                <div class="music-progress">
                    <div id="progress-bar" class="music-progress-bar"></div>
                    <div class="music-progress__time">
                        <span class="music-progress__time-item music-current-time">{{currenttime}}</span>
                        <span
                            class="music-progress__time-item music-duration-time">{{songDuration}}:{{secDuration}}</span>
                    </div>
                </div>
                <div class="music-controls">
                    <div id="prev" class="music-controls-item">
                        <!--<i class="fas fa-backward music-controls-item--icon"></i>-->
                        <img src="../../../assets/backward.png" alt="" style="height: 40px;">
                    </div>

                    <div id="play" class="music-controls-item">
                        <!--<i class="fas fa-play music-controls-item--icon play-icon"></i>-->
                        <img [src]="playBtnPath" (click)="playAudio()" alt="" style="height: 40px;">
                    </div>

                    <div id="next" class="music-controls-item">
                        <!--<i class="fas fa-forward music-controls-item--icon"></i>-->
                        <img src="../../../assets/forward.png" alt="" style="height: 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>