<app-navbar-dashboard></app-navbar-dashboard>

<h1>Your favourite songs</h1>
<div class="tableContent">
    <table class="table table-dark" style="width: 600px; text-align: center; " border="1">
        <thead>
            <tr>
                <th *ngFor = "let head of songPlaylist[0] | keys" >{{head}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let item  of songPlaylist">
                <td *ngFor = "let list of item | keys">{{item[list]}}</td>
            </tr>
        </tbody>

    </table>
</div>