<!--Navigation Bar-->
<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div>
                <img src="../../../assets/logo.png" style="margin-left: 50px;" alt="" width="40" height="40"
                    class="d-inline-block align-text-top">
                <h4 style="color: aliceblue; float: right; margin-left: 20px; margin-top: 5px;">Soundwave</h4>
            </div>
        </a>

        <div>
            <a style="margin-right: 50px; color: aliceblue;">Discover</a>
            <a style="margin-right: 100px; color: aliceblue; text-decoration: none;" routerLink="/register">Sign Up</a>
        </div>
    </div>
</nav>

<div>
    <h1 class="join-style" style="float: left;">Join the &nbsp;</h1>
    <span style="float: left;">
        <h1 class="fun-style"> fun.</h1>
    </span>
</div>

<!--Registration Form-->
<div class="registration-form" style="float: right; margin-right: 100px; width: 500px;height: 400px;">
    <form #userInfo="ngForm" (ngSubmit)="loginFunction(userInfo.value)" style="background-color: #1f2127;">

        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        
        <div class="form-group">
            <input type="email" class="form-control item" id="emailId" name="emailId" [(ngModel)]="emailId"  placeholder="Email ID">
        </div>
        
        <div class="form-group">
            <input type="password" class="form-control item" id="password" name="password" [(ngModel)]="password"  placeholder="Password">
        </div>
        
        <div class="form-group" style="float: left;margin-left: 50px;">
            <button type="submit" class="btn btn-block create-account">Sign In</button>
        </div>
        
        <div class="form-group" style="float: right;margin-right: 50px;">
            <button type="button" class="btn btn-block create-account" routerLink="/register" >Sign Up</button>
        </div>
    </form>
    <div class="social-media">
    </div>
</div>